.contain {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bgimage {
  background: url("https://www.bitsindri.ac.in/old/images/slide/2022/EE6DCBE6-20FD-4B0E-8154-EB2166F485E4.jpeg")
    no-repeat center center / cover;
  position: relative;
}
#bgimage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
